@model TaskViewModel
@{
    ViewData["Title"] = "Update Task";
}

<div class="modal-header">
    <h4 class="modal-title">@ViewData["Title"]: @Model.Title</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>



<form asp-page="./Index" asp-page-handler="Details" method="get">
    <div class="modal-body">
        <ul class="list-group">
            <li class="list-group-item"><strong>Id:</strong> @Model.Id</li>
            <li class="list-group-item"><strong>Title:</strong> @Model.Title</li>
            <li class="list-group-item"><strong>Is Done:</strong> @(Model.IsDone ? "Yes" : "No")</li>
            <li class="list-group-item"><strong>Description:</strong> @Model.Description</li>
            <li class="list-group-item"><strong>List Id:</strong> @Model.TaskListId</li>
            <li class="list-group-item"><strong>Creation Date:</strong> @Model.CreationDate</li>
        </ul>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary modal-close" data-bs-dismiss="modal">Close</button>
        <a class="btn btn-success pull-right m-rl-5"
           href="#showModal=@Url.Page("./Index", "Edit", new { id = Model.Id})">
            <i class="fa fa-edit"></i> Update
        </a>
    </div>
</form>