@page
@model ServiceHost.Areas.Adminpanel.Pages.ToDo.Tasks.IndexModel
@{
    Layout = "Shared/_DashboardLayout";
    ViewData["Title"] = "Task Management";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title pull-right">@ViewData["Title"]</h4>
        <p class="pull-left">
            <a class="btn btn-success btn-lg" onclick="showModal('@Url.Page("./Index", "Create")')">New Task</a>
        </p>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> Search Task </h3>
            </div>
            <div class="card-body">
                <form class="form-inline" role="form" method="get">
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.Name"></label>
                        <input class="form-control" asp-for="SearchModel.Name" placeholder="Task Title">
                    </div>

                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.TaskListId"></label>
                        <select class="form-control" asp-for="SearchModel.TaskListId" asp-items="Model.TaskViewModel">
                            <option value="0">Task List Name</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">Search</button>
                    <a class="btn btn-primary waves-effect waves-light m-l-10" asp-page="./Index">View All</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> Task List (@Model.Tasks.Count)</h3>
            </div>
            <div class="card-body">

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Is done?</th>
                            <th>List Name</th>
                            <th>Creation Date?</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Tasks)
                        {

                            var rowClass = item.IsDone ? "gray-row" : "";
                            <tr class="@rowClass">
                                <td>@item.Id</td>
                                <td>@item.Title</td>
                                <td>@item.IsDone</td>
                                <td>@item.TaskList</td>
                                <td>@item.CreationDate</td>
                                <td>
                                    <a class="btn btn-warning pull-right m-rl-5"
                                       href="#showmodal=@Url.Page("./Index", "Edit", new { id = item.Id})">
                                        <i class="fa fa-edit"></i> Update
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="modal-placeholder"></div>

@section Scripts {
    <script src="~/js/site-modal.js"></script>

    <script>
        function refreshList() {
            $.get('@Url.Page("./Index", "GetTasksPartial")', function (html) {
                $('#TaskListDiv').html(html);
            });
        }
    </script>
}